<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.ACCOUNT}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{> user-info hideExtra=true}}
					<div class="half-margin-top half-margin-bottom text-small-mobile">
						<a class="pseudo button stack {{#if profileTab}}active{{/if}}" href="/account">{{i18n.PROFILE_INFO}}</a>
						<a class="pseudo button stack {{#if imageTab}}active{{/if}}" href="/account/image">{{i18n.IMAGES}}</a>
						<a class="pseudo button stack {{#if customizeTab}}active{{/if}}" href="/account/customize">{{i18n.CUSTOMIZATION}}</a>
						<a class="pseudo button stack {{#if passwordTab}}active{{/if}}" href="/account/password">{{i18n.CHANGE_PASSWORD}}</a>
						<a class="pseudo button stack {{#if emailTab}}active{{/if}}" href="/account/email">{{i18n.CHANGE_EMAIL}}</a>
						<a class="pseudo button stack {{#if downloadTab}}active{{/if}}" href="/account/download">{{i18n.DOWNLOAD_YOUR_DATA}}</a>
						<a class="pseudo button stack {{#if deleteTab}}active{{/if}}" href="/account/delete">{{i18n.DELETE_YOUR_ACCOUNT}}</a>
					</div>
				</div>
				<div class="two-third-800">
					{{#if invalidUpdate}}
						{{> alert level='error' text=i18n.INVALID_ACCOUNT_UPDATE}}
					{{/if}}
					{{#if successfulUpdate}}
						{{> alert level='success' text=i18n.SUCCESSFUL_ACCOUNT_UPDATE}}
					{{/if}}

					{{#if profileTab}}
						<div>
							<form action="/account" method="post" onsubmit="onFormSubmit(event)">
								<label>{{i18n.HANDLE}}<input type="text" name="handle" class="qtr-margin-bottom" value="{{user.handle}}" required autofocus></label>
								<label>{{i18n.FIRST_NAME}}<input type="text" name="firstName" class="qtr-margin-bottom" value="{{user.firstName}}" required></label>
								<label>{{i18n.LAST_NAME}}<input type="text" name="lastName" class="qtr-margin-bottom" value="{{user.lastName}}"></label>
								<label>{{i18n.WEBSITE}}<input type="url" name="website" class="qtr-margin-bottom" value="{{user.website}}"></label>
								<label>
									{{i18n.ABOUT_YOU}}
									<textarea name="about" maxlength="{{maxChars}}">{{user.about}}</textarea>
									<div class="text-right text-light text-small">{{i18n.MAX_CHARACTERS}}</div>
								</label>
								<input type="submit" class="neg-base-margin-top" value="{{i18n.SUBMIT}}">
							</form>
						</div>
					{{/if}}

					{{#if imageTab}}
						<div>
							<label>
								{{i18n.MANAGE_WITH_IMGUR}} 
								<a href="/help/images">{{{octicon 'question' class='text-light'}}}</a>
							</label>
						</div>
						{{#if user.imgur}}
							<button class="button primary" disabled>
								<span>{{i18n.CONNECTED_TO_IMGUR}}</span>
								<img class="button-icon rounded-corners qtr-margin-left" src="/assets/images/imgur-icon.png">
							</button>
						{{else}}
							<div class="text-small text-light">{{i18n.IMGUR_ACCOUNT_DETAIL}}</div>
							<a class="button primary" href="/oauth/imgur/start">
								<span>{{i18n.CONNECT_TO_IMGUR}}</span>
								<img class="button-icon rounded-corners qtr-margin-left" src="/assets/images/imgur-icon.png">
							</a>
							<div class="text-small">
								<a href="https://imgur.com/register" target="_blank">{{i18n.CREATE_IMGUR_ACCOUNT}}</a>
							</div>
						{{/if}}
						<div class="base-margin-top">
							<form id="image-form" action="/account/image" method="post" enctype="multipart/form-data">
								<div style="width: 15rem">
									<label>{{i18n.UPLOAD_IMAGE}}</label>
									<label class="dropimage user-dropimage">
										<input title="{{i18n.DROP_IMAGE}}" type="file" name="image" accept="image/*" onchange="uploadImage(event)" required>
									</label>
								</div>
								<input type="submit" id="image-submit" class="button primary" value="{{i18n.UPLOAD}}">
								<script>
									function uploadImage(event) {
										event.preventDefault();
										var button = document.getElementById('image-submit');
										button.value = '{{i18n.UPLOADING}}...';
										button.setAttribute('disabled', 'true');
										document.getElementById('image-form').submit();
									}
								</script>
							</form>
							{{#if user.image}}
								<form action="/account/image/rotate" method="post" onsubmit="onFormSubmit(event, '{{i18n.ROTATING}}')">
									<input type="submit" class="button primary base-margin-bottom" value="{{i18n.ROTATE_IMAGE}}">
								</form>
							{{/if}}
						</div>
					{{/if}}

					{{#if customizeTab}}
						{{#if successfulUpdate}}
							<a class="pseudo button neg-base-margin-top base-margin-bottom" href="/users/{{user.handle}}">{{i18n.VIEW_YOUR_PAGE}}</a>
						{{/if}}
						<div>
							<form action="/account/customize" method="post" onsubmit="onFormSubmit(event)">
								<label>
									{{i18n.CUSTOM_CSS}}
									<textarea class="codearea" name="customCss" maxlength="{{maxChars}}">{{user.customCss}}</textarea>
									<div class="text-right text-light text-small">{{i18n.MAX_CHARACTERS}}</div>
								</label>
								<label>{{i18n.SPOTIFY_URL}}<input type="url" name="spotifyUrl" class="qtr-margin-bottom" value="{{user.spotifyUrl}}"></label>
								<div class="half-margin-top half-margin-bottom">
									<label for="darkMode">{{i18n.DARK_MODE}}</label>
									<div>
										<label class="switch">
											<input type="checkbox" id="darkMode" name="darkMode" {{#if user.darkMode}}checked{{/if}}>
											<span class="slider"></span>
										</label>
									</div>
								</div>
								<div class="half-margin-top half-margin-bottom">
									<label for="hideNonSubMentions">{{i18n.HIDE_NON_SUB_MENTIONS}}</label>
									<div>
										<label class="switch">
											<input type="checkbox" id="hideNonSubMentions" name="hideNonSubMentions" {{#if user.hideNonSubMentions}}checked{{/if}}>
											<span class="slider"></span>
										</label>
									</div>
								</div>
								<div class="half-margin-top half-margin-bottom">
									<label for="showFirehose">{{i18n.SHOW_FIREHOSE}}</label>
									<div>
										<label class="switch">
											<input type="checkbox" id="showFirehose" name="showFirehose" {{#if user.showFirehose}}checked{{/if}}>
											<span class="slider"></span>
										</label>
									</div>
								</div>
								<input type="submit" class="button primary" value="{{i18n.SUBMIT}}">
							</form>
						</div>
					{{/if}}

					{{#if passwordTab}}
						<div>
							<form action="/account/password" method="post">
								<label>{{i18n.CURRENT_PASSWORD}}<input type="password" name="password" class="qtr-margin-bottom" required autofocus></label>
								<label>{{i18n.NEW_PASSWORD}}<input type="password" name="newPassword" class="qtr-margin-bottom" required></label>
								<input type="submit" class="button primary" value="{{i18n.SUBMIT}}">
							</form>
						</div>
					{{/if}}

					{{#if emailTab}}
						{{#if verification}}
							<div>
								<form action="/account/email/verify" method="post" onsubmit="onFormSubmit(event)">
									<label>{{i18n.ENTER_CODE_FROM_EMAIL}}<input type="text" name="token" class="qtr-margin-bottom" required></label>
									<input type="submit" class="button primary" value="{{i18n.SUBMIT}}">
								</form>
							</div>
						{{else}}
							<div>
								<form action="/account/email" method="post" onsubmit="onFormSubmit(event)">
									<label>{{i18n.CURRENT_EMAIL}}<input type="email" name="email" class="qtr-margin-bottom" required autofocus></label>
									<label>{{i18n.NEW_EMAIL}}<input type="email" name="newEmail" class="qtr-margin-bottom" required></label>
									<input type="submit" class="button primary" value="{{i18n.SUBMIT}}">
								</form>
							</div>
						{{/if}}
					{{/if}}

					{{#if downloadTab}}
						<form action="/account/download" method="post" onsubmit="onFormSubmit(event, '{{i18n.DOWNLOADING}}')">
							<div>
								<label>{{i18n.DOWNLOAD_ALL_DATA}}</label>
							</div>
							<input type="submit" class="button primary" value="{{i18n.DOWNLOAD}}">
						</form>
					{{/if}}

					{{#if deleteTab}}
						<div>
							<label>{{i18n.DELETE_YOUR_ACCOUNT}}</label>
						</div>
						<label for="modal_delete" class="button error">{{i18n.DELETE}}</label>
						<div class="modal">
							<input id="modal_delete" type="checkbox"/>
							<label for="modal_delete" class="overlay"></label>
							<article>
								<header>
									<h2>{{@root.i18n.DELETE_YOUR_ACCOUNT}}</h2>
									<label for="modal_delete" class="close">{{{octicon "x"}}}</label>
								</header>
								<section>{{@root.i18n.DELETE_ACCOUNT_CONFIRM}}</section>
								<footer>
									<form action="/account/delete" method="post" onsubmit="onFormSubmit(event, '{{i18n.DOWNLOADING}}')">
										<label for="modal_delete" class="pseudo button">{{@root.i18n.CANCEL}}</label>
										<input type="submit" class="dangerous" value="{{@root.i18n.DELETE}}">
									</form>
								</footer>
							</article>
						</div>
					{{/if}}
				</div>
			</div>
			{{> footer}}
			{{> form-submit-feedback}}
		</div>
	</body>
</html>