<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.DASHBOARD}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					<div class="hide-mobile">
						{{> user-info}}
						<a class="text-small button" href="/users/{{user.handle}}">{{i18n.VIEW_YOUR_PAGE}}</a>
						<a class="text-small pseudo button" href="/subs/{{user.handle}}">{{i18n.SUBSCRIBERS}}</a>
						<hr/>
					</div>
					{{> install-button}}
					{{> user-search action='/search/users' placeholder=@root.i18n.SEARCH_USERS required=true}}
					<div class="half-margin-bottom text-small-mobile">
						<a class="pseudo button stack {{#if feedTab}}active{{/if}}" href="/dashboard">{{i18n.FEED}}</a>
						{{#if user.image}}
						{{else}}
							<a class="pseudo button stack" href="/account/image">{{i18n.ADD_PROFILE_IMAGE}}</a>
						{{/if}}
						<a class="pseudo button stack" href="/subs/{{user.handle}}" title="{{#if newSubscribers}}{{i18n.SUBSCRIBERS_COUNT}}{{/if}}">
							<span>{{i18n.YOUR_SUBSCRIBERS}}</span>
							{{#if newSubscribers}}
								<span class="label neg-qtr-margin-top">{{newSubscribers}}</span>
							{{/if}}
						</a>
						<a class="pseudo button stack {{#if subMentionsTab}}active{{/if}}" href="/dashboard/mentions/sub" title="{{#if subMentions}}{{i18n.SUB_MENTIONS_COUNT}}{{/if}}">
							<span>{{i18n.SUBSCRIBED_MENTIONS}}</span>
							{{#if subMentions}}
								<span class="label success neg-qtr-margin-top">{{subMentions}}</span>
							{{/if}}
						</a>
						{{#if user.hideNonSubMentions}}
						{{else}}
							<a class="pseudo button stack {{#if mentionsTab}}active{{/if}}" href="/dashboard/mentions" title="{{#if mentions}}{{i18n.MENTIONS_COUNT}}{{/if}}">
								<span>{{i18n.ALL_MENTIONS}}</span>
								{{#if mentions}}
									<span class="label neg-qtr-margin-top">{{mentions}}</span>
								{{/if}}
							</a>
						{{/if}}
						{{#if user.showFirehose}}
							<a class="pseudo button stack {{#if firehoseTab}}active{{/if}}" href="/dashboard/firehose">{{i18n.FIREHOSE}}</a>
						{{/if}}
						<a class="pseudo button stack show-mobile" href="/users/{{user.handle}}">{{i18n.VIEW_YOUR_PAGE}}</a>
					</div>
				</div>
				<div class="two-third-800">
					{{#if postSuccess}}
						{{> alert level='success' text=i18n.POST_SUCCESS}}
					{{/if}}
					{{#if postLimit}}
						{{> alert level='warning' text=i18n.POST_LIMIT}}
					{{/if}}
					<div class="hide-mobile">
						{{> create-post}}
					</div>
					{{#if posts.docs}}
						<div>
							{{#each posts.docs}}
								{{> post}}
							{{/each}}
							{{> pagination page=returnTo items=posts}}
						</div>
					{{else}}
						<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
					{{/if}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>