<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.DISCOVER}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					<div class="hide-mobile">
						{{> user-info}}
					</div>
					{{> install-button}}
					{{> user-search action='/search/users' placeholder=@root.i18n.SEARCH_USERS required=true}}
					<div class="half-margin-bottom text-small-mobile">
						<a class="pseudo button stack {{#if trendingTab}}active{{/if}}" href="/discover">{{i18n.TRENDING_HASHTAGS}}</a>
						<a class="pseudo button stack {{#if trendingUsersTab}}active{{/if}}" href="/discover/trending-users">{{i18n.TRENDING_USERS}}</a>
						<a class="pseudo button stack {{#if activeUsersTab}}active{{/if}}" href="/discover/active-users">{{i18n.ACTIVE_USERS}}</a>
					</div>
				</div>
				<div class="two-third-800">
					{{#if trendingTab}}
						{{#each trending}}
							<div class="card post base-padding break-word">
								<a class="half-margin-bottom" href="/tags/{{this.hashtag}}">
									<h3 class="no-padding">#{{this.hashtag}}</h3>
									<div class="text-small text-light">{{this.count}} {{@root.i18n.DISCUSSING_HASHTAG}}</div>
								</a>
								<div class="text-light text-small">{{@root.i18n.MOST_RECENT}}:</div>
								{{#if posts}}
									{{#each posts}}
										{{> post}}
									{{/each}}
								{{else}}
									<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
								{{/if}}
							</div>
						{{/each}}
					{{/if}}
					{{#if trendingUsersTab}}
						{{#each trendingUsers}}
							<div class="card post base-padding break-word">
								<div class="left-to-right">
									<a href="/users/{{this.user.handle}}">
										<div class="user-image half-margin-right">
											{{#if this.user.image}}
												<img src="{{this.user.image}}">
											{{else}}
												<img src="/assets/images/default-user.jpg">
											{{/if}}
										</div>
									</a>
									<div class="neg-qtr-margin-top">
										<h3 class="no-padding no-margin">{{this.user.firstName}} {{this.user.lastName}}</h3>
										<div class="text-small neg-qtr-margin-top">
											<a class="text-light" href="/users/{{this.user.handle}}">@{{this.user.handle}}</a>
										</div>
										<div class="neg-qtr-margin-top text-light text-xsmall">{{@root.i18n.MEMBER_SINCE}} {{this.user.memberSince}}</div>
									</div>
								</div>
								{{#if this.user.about}}
									<div class="half-margin-top half-margin-bottom text-xsmall text-light">{{this.user.about}}</div>
								{{/if}}
								<hr/>
								<div class="half-margin-top half-margin-bottom text-small text-light">{{this.count}} {{@root.i18n.MENTIONING_USER}}</div>
								<div class="text-light text-small">{{@root.i18n.MOST_RECENT}}:</div>
								{{#if posts}}
									{{#each posts}}
										{{> post}}
									{{/each}}
								{{else}}
									<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
								{{/if}}
							</div>
						{{/each}}
					{{/if}}
					{{#if activeUsersTab}}
						{{#each activeUsers}}
							<div class="card sub base-padding break-word">
								<div class="left-to-right">
									<a href="/users/{{this.handle}}">
										<div class="user-image half-margin-right">
											{{#if this.image}}
												<img src="{{this.image}}">
											{{else}}
												<img src="/assets/images/default-user.jpg">
											{{/if}}
										</div>
									</a>
									<div class="neg-qtr-margin-top">
										<h3 class="no-padding no-margin">{{this.firstName}} {{this.lastName}}</h3>
										<div class="text-small neg-qtr-margin-top">
											<a class="text-light" href="/users/{{this.handle}}">@{{this.handle}}</a>
										</div>
										<div class="neg-qtr-margin-top text-light text-xsmall">{{@root.i18n.MEMBER_SINCE}} {{this.memberSince}}</div>
									</div>
								</div>
								{{#if this.about}}
									<div class="half-margin-top text-xsmall text-light">{{this.about}}</div>
								{{/if}}
								<div class="half-margin-top text-small">
									<a href="/users/{{this.handle}}">{{this.count}} {{@root.i18n.POSTS_TODAY}}</a>
								</div>
							</div>
						{{/each}}
					{{/if}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>