<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
		<style>
      body {
        background-color: #EAF5FA;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0.5rem;
      }

      .card {
        background-color: white;
        border: 1px solid #CCCCCC;
        border-radius: 0.125rem;
        padding: 1rem;
      }
    </style>
  </head>
  <body style="background-color: #EAF5FA; font-family: Arial, Helvetica, sans-serif; padding: 0.5rem;">
    <div style="background-color: white; border: 1px solid #CCCCCC; border-radius: 0.125rem; padding: 1rem;">
      <h3 style="margin:0; mso-line-height-rule:exactly;">
        <span style="color: #0074D9">r</span>PAGES {{i18n.CHANGE_EMAIL}}
      </h3>
      <p>{{i18n.CHANGE_EMAIL_DETAIL}}</p>
		  <h1>{{token}}</h1>
    </div>
  </body>
</html>