<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body style="background-color: #EAF5FA; font-family: Arial, Helvetica, sans-serif; padding: 0.5rem;">
    <div style="background-color: white; border: 1px solid #CCCCCC; border-radius: 0.125rem; padding: 1rem;">
      <div>
        <div>
          <img src="https://{{host}}/assets/images/blake.jpg" style="width: 3.5rem; height: 3.5rem; border-radius: 0.2rem; float: left; margin-right: 0.5rem;">
        </div>
        <div>
          <h3 style="margin: 0">Blake</h3>
          <div class="neg-half-margin-top">
            <a style="color: #666666; text-decoration: none; font-size: 0.95rem" href="https://{{host}}/users/blake">@blake</a>
          </div>
        </div>
      </div>
      <div style="clear: both; margin-bottom: 0.5rem"></div>

      <h3 style="margin:0; mso-line-height-rule:exactly;">
        {{i18n.WELCOME}} <span style="color: #0074D9">r</span>PAGES!
      </h3>
      <p>{{i18n.VERIFY_EMAIL_DETAIL}}</p>
      <p><a style="color: #0074D9; text-decoration: none" href="https://{{host}}/signup/verify-email?token={{token}}">{{i18n.VERIFY_EMAIL_CLICK}}</a></p>
    </div>
  </body>
</html>