<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.ERROR}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{#if loggedIn}}
		{{> authenticated-header}}
		{{else}}
		{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one">
				<div class="full">
					<div class="text-center">
						<div class="card base-padding base-margin-bottom">
							<h4 class="no-padding">
								<span>{{i18n.INTERNAL_ERROR_DETAIL}}</span>
								<a href="/users/blake/mention">@blake</a>.
							</h4>
						</div>
						<img class="rounded-corners" src="https://media.giphy.com/media/D85DeTnI64xLq/source.gif" style="min-width: 50%; max-width: 100%;">
					</div>
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>