<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.RESET_PASSWORD}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					<h2>{{i18n.RESET_PASSWORD_SUCCESS}}</h2>
					{{> signin-box }}
					<div class="base-margin-bottom"></div>
					{{> footer}}
				</div>
			</div>
		</div>
	</body>
</html>