<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.RESET_PASSWORD}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					<h3>{{i18n.RESET_PASSWORD}}</h3>
					<div class="card base-padding base-margin-bottom">{{i18n.FORGOT_PASSWORD_STARTED}}</div>
					{{> footer}}
				</div>
			</div>
		</div>
	</body>
</html>