<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.RESET_PASSWORD}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					{{#if invalidPassword}}
						{{> alert level='error' text=i18n.INVALID_LOGIN}}
					{{/if}}
					<h3>{{i18n.RESET_PASSWORD}}</h3>
					<div class="card base-padding base-margin-bottom">
						<form class="no-margin" action="/forgot-password/finish?token={{token}}" method="post" onsubmit="onFormSubmit(event)">
							<label>{{i18n.NEW_PASSWORD}}<input type="password" name="newPassword" class="qtr-margin-bottom" required autofocus></label>
							<input type="submit" value="{{i18n.SUBMIT}}">
						</form>
					</div>
					{{> footer}}
					{{> form-submit-feedback}}
				</div>
			</div>
		</div>
	</body>
</html>