<!DOCTYPE html>
<html style="margin: 0">
	<head>
		<base target="_parent">
		{{> head}}
		<style>
			html {
				background-color: transparent;
			}
		</style>
	</head>
	<body>
		<div>
			{{#if error}}
				{{> alert level='error' text=i18n.GIPHY_ERROR}}
			{{else}}
				{{#each gifs}}
					<img src="{{this.images.fixed_height_small.url}}" style="cursor: pointer;" onclick="parent.addGiphy('{{this.embed_url}}')">
				{{/each}}
			{{/if}}
		</div>
	</body>
</html>