<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.HELP}}</title>
		{{> head }}

		<meta property="og:title" content="{{i18n.APP_NAME}} | {{#if aboutTab}}{{i18n.ABOUT}}{{else}}{{i18n.HELP}}{{/if}}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{i18n.APP_NAME}}">
		<meta property="og:url" content="https://{{host}}/help">
		<meta property="og:image" content="https://{{host}}/assets/images/icon-256.png">
		<meta property="twitter:title" content="{{i18n.APP_NAME}} | {{#if aboutTab}}{{i18n.ABOUT}}{{else}}{{i18n.HELP}}{{/if}}">
		<meta property="twitter:card" content="summary_image">
		<meta property="twitter:image:src" content="https://{{host}}/assets/images/icon-256.png">

		{{> dark-mode}}
	</head>
	<body>
		{{#if loggedIn}}
			{{> authenticated-header}}
		{{else}}
			{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					<div class="half-margin-bottom text-small-mobile">
						<a class="pseudo button stack {{#if aboutTab}}active{{/if}}" href="/help/about">{{i18n.ABOUT}} {{i18n.APP_NAME}}</a>
						<a class="pseudo button stack {{#if postingTab}}active{{/if}}" href="/help/posting">{{i18n.POSTING}}</a>
						<a class="pseudo button stack {{#if subscriptionsTab}}active{{/if}}" href="/help/subscriptions">{{i18n.SUBSCRIPTIONS}}</a>
						<a class="pseudo button stack {{#if imagesTab}}active{{/if}}" href="/help/images">{{i18n.IMAGES}}</a>
						<a class="pseudo button stack {{#if accountTab}}active{{/if}}" href="/help/account">{{i18n.YOUR_ACCOUNT}}</a>
					</div>
				</div>
				<div class="two-third-800">
					{{#if aboutTab}}
						<div>
							<div class="card base-padding text-normal">
								<span>
									To the prospective {{i18n.APP_NAME}} user,<br/><br/>

									You have arrived at a social network full of open communication and customization, where responsibility is firmly placed with the creator of content and choice with the reader. Instead of users being bound by vague, ever-shifting content requirements that reward destructive behavior, {{i18n.APP_NAME}} is structured in a way that focuses on individual micro-blogging and consensual, one to one communication. The posting system has been specifically tailored to prevent the negative feedback loop that arises from "virality" of content. Here's how it's done:<br/><br/>

									There is no official commenting system. You can respond to someone's content by writing your own post that references theirs. Unlike other micro-blogging platforms that build a compendium of posts, turning them into an ever-scrollable comment tree for any random person to jump into, {{i18n.APP_NAME}} replies are only fed to the composer of the referenced post.<br/><br/>
									
									Other users must be subscribed to you or go directly to your user page to see your posts, and their responses won't appear on your page. If you want, you can use your page as a comment free blog. Your level of engagement with {{i18n.APP_NAME}} is completely up to you.<br/><br/>

									There are also no counts of any type for posts - no "likes", "upvotes", "retweets", "flair", "hearts", "badges", or even a view count. This is not a place to be rewarded in fake internet points for being unashamedly petty. The only thing to gain from using {{i18n.APP_NAME}} is the joy of one to one interaction between real people.<br/><br/>

									I believe that the commercial requirements of other platforms are what drive them to promote the social media addiction pushing normally kind people into unhealthy, unnecessarily vitriolic communication. That's because, in reality, these other platforms are not social networks. They're data-mining outfits that, only at their very surface, front themselves as consumer products. Seeing commercial social media as a technology designed to connect people is tantamount to thinking a nice lounge is the motivation for building a casino.<br/><br/>
									
									We break this cycle through the abdication of content ownership. Everything you post on {{i18n.APP_NAME}} belongs to you. We will never use your information for sales or marketing, and you can download or delete all of your data at the click of a button. Your feed is in purely chronological order, and not at all manipulated to "optimize your engagement". It's my deepest hope that this tranparent, not-for-profit venture can help to deliver the promise of the internet, which is what got me into programming in the first place.<br/><br/>

									I really ran with this thing like Kevin Costner in Field of Dreams. Now that it's built, I hope you come in and find a new home online.<br/><br/>

									Sincerely,<br/><br/>

									<a href="/users/blake">@blake</a><br/><br/>

									P.S., I brought customizing your page back.<br/><br/><hr/><br/>

									<h3 class="no-padding">An example of post referencing</h3><br/>
									
									User1 writes a post and User2 references that post in their own post. User2's post will not appear below User1's when viewing User1's page. Only those subscribed to User2 will see their reply.<br/><br/>
									
									If User1 is subscribed to User2, then User2's post will show up in User1's Dashboard as a "Subscription Mentioning You". If User1 is not subscribed to User2, then the post will only appear under "All Mentions". User1 can make their own choice whether they want to read posts from someone they're not subscribed to.<br/><br/>

									Later, User3 decides that they wish to reference User2's post mentioning User1. Like before, User3's subscribers will see the post in their Feeds, and depending on whether User2 subscribes to User3, the post will be cataloged in the appropriate section. But, unlike other platforms, User1 will have no notification that User3 referenced User2's post.<br/><br/>

									If at any time User1 wants to start a conversation with User2, they can look at a linear, chat-like history of all posts between them. This history view is only available to the two participants.
								</span>
							</div>
						</div>
					{{/if}}
					{{#if postingTab}}
						<div class="card base-padding text-normal">
							<span>
								To write a post, go to the <a href="/posts">Posts</a> page and type away!<br/><br/>

								All user pages and posts are publicly viewable by anyone. We operate from the standpoint that, if you are interested in someone's posts, then you should subscribe to them. If you are not interested in what someone has to say, then don't subscribe to them. Users you are not subscribed to will not show up in your Feed and you will have to actively seek out their posts. If they mention you in a post, it will be relegated to your "All Mentions" section in the <a href="/dashboard">Dashboard</a>. Whether you choose to read your "All Mentions" section is up to you.<br/><br/>

								We call replying to or commenting on posts, "referencing" them. Referencing a post is the same as writing your own post - it will appear on your page and in your subscriber's Feeds as any other post by you normally would. Keep this in mind when referencing another user's post. For a chat-style view of times you and another user have mentioned each other, click on the history {{{octicon "history" class="text-light"}}} icon in the bottom right of any post by that user. To see all references to a particular post of yours, click the references {{{octicon "comment-discussion" class="text-light"}}} icon in the bottom right corner of the post.<br/><br/>
							</span>
						</div>
					{{/if}}
					{{#if subscriptionsTab}}
						<div class="card base-padding text-normal">
							<span>
								To manage your subscriptions, go to the <a href="/subs">Subscriptions</a> page. To view a list of your subscribers, go to the <a href="/dashboard">Dashboard</a> and click on the "Your Subscribers" tab.<br/><br/>

								When you are subscribed to a user, their posts will show up in your Feed and their posts that mention you will show up in the "Subscriptions Mentioning You" tab in the Dashboard. If someone you are not subscribed to mentions you, it will show in the "All Mentions" tab.<br/><br/>
								
								All three of these tabs in the Dashboard will notify you of how many new subscribers or mentions you've received within the last 24 hours. As part of our efforts to make {{i18n.APP_NAME}} a beneficial online community, these notifications are running tallies that will not change as you view new subscribers and mentions.<br/><br/>

								<h3 class="no-padding">Private communication</h3><br/>

								All communication within {{i18n.APP_NAME}} is public, but we understand the need to sometimes share private information with other users. To facilitate this, you can choose to reveal the email address tied to your account to a user that you're subscribed to. When that user views your page, your email will show with your profile info. To activate this, find the user in your <a href="/subs">Subscriptions</a> and activate showing your email to them. This feature can be turned off at any time.
							</span>
						</div>
					{{/if}}
					{{#if imagesTab}}
						<div class="card base-padding text-normal">
							<span>
								We only store the text content of your posts in our system, but you can upload images and add them to your posts through our Imgur integration. To link your Imgur account to {{i18n.APP_NAME}}, go to the <a href="/account/image">Images section</a> of the Account page and authorize {{i18n.APP_NAME}} to upload images to your Imgur account. You can create a free Imgur account <a href="https://imgur.com/register" target="_blank">here</a>.<br/><br/>

								Images uploaded through the {{i18n.APP_NAME}} interface will be resized and optimized to load quickly and be optimally displayed within {{i18n.APP_NAME}}. If you wish to retain the original resolution of large images, you can upload them directly to Imgur through their app or website. Those images will then be available under "Select an Existing Image" when creating a post. It's not recommended that you do this, though, as large image files can take a long time to load and can degrade your reader's experience.
							</span>
						</div>
					{{/if}}
					{{#if accountTab}}
						<div class="card base-padding text-normal">
							<span>
								The <a href="/account">Account</a> page is where you can configure your public profile and manage your data within {{i18n.APP_NAME}}.<br/><br/>

								<h3 class="no-padding">Adding or updating your profile image</h3><br/>

								From the <a href="/account/image">Images section</a> you can upload a profile image that will appear on your page and all your posts. This image will be resized and cropped to 150x150 pixels and, unlike Imgur uploads, will be stored on a server managed by {{i18n.APP_NAME}}. If you delete your account, we will also delete your profile image file.<br/><br/>

								<h3 class="no-padding">Customizing your page</h3><br/>

								We've brought back the feature you missed! Your {{i18n.APP_NAME}} user page can be given custom styles and even allow visitors play your favorite song. In the <a href="/account/customize">Customization section</a>, paste in your custom CSS styling and include a song, album, or playlist link from Spotify or SoundCloud. These will be rendered on your user page and any of your individual, permalinked posts.<br/><br/>

								<h3 class="no-padding">Downloading your data</h3><br/>

								Everything you post in {{i18n.APP_NAME}} is your property and we will never use it for sales or marketing purposes. You can immediately retrieve all the data we store for your account, at any time, by going to the <a href="/account/download">Download Your Data section</a>.<br/><br/>

								<h3 class="no-padding">Deleting your account</h3><br/>

								Because you own your {{i18n.APP_NAME}} data, you can remove it from our system at any time. Should you want to delete your account, go to the <a href="/account/download">Delete Your Account section</a>. If you approve deletion, your account info, posts and subscription data will be completely removed from the active version of {{i18n.APP_NAME}}. For a short period of time, your record may remain in database backups that are regularly removed on a set schedule.
							</span>
						</div>
					{{/if}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>