<!DOCTYPE html>
<html style="margin: 0">
	<head>
		<base target="_parent">
		{{> head}}
		<style>
			html {
				background-color: transparent;
			}
		</style>
	</head>
	<body>
		<div>
			{{#if error}}
				{{> alert level='error' text=i18n.IMGUR_ERROR}}
			{{else}}
				{{#each images}}
					<img class="imgur-thumb" src="{{this.link}}" style="cursor: pointer;" onclick="parent.addImgur('{{this.link}}')">
				{{/each}}
			{{/if}}
		</div>
	</body>
</html>