<!DOCTYPE html>
<html style="margin: 0">
	<head>
		{{> head}}
		{{> dark-mode}}
		<style>
			html {
				background-color: transparent;
			}
		</style>
	</head>
	<body>
		<div>
			{{#if error}}
				{{> alert level='error' text=i18n.IMGUR_ERROR}}
			{{/if}}
			{{#if fileSizeError}}
				{{> alert level='error' text=i18n.IMGUR_SIZE_ERROR}}
			{{/if}}
			<form id="image-form" action="/imgur/upload" method="post" enctype="multipart/form-data">
				<div style="width: 14rem;">
					<label class="dropimage">
						<input title="{{i18n.DROP_IMAGE}}" type="file" name="image" accept="image/*" onchange="uploadImage(event)" required>
					</label>
				</div>
				<input type="submit" id="image-submit" class="button primary" value="{{i18n.UPLOAD}}">
				<script>
					function uploadImage(event) {
						event.preventDefault();
						var button = document.getElementById('image-submit');
						button.value = '{{i18n.UPLOADING}}...';
						button.setAttribute('disabled', 'true');
						document.getElementById('image-form').submit();
					}
				</script>
			</form>
		</div>
	</body>
</html>