<html>
	<head>
		<title>{{i18n.APP_NAME}}</title>
		{{> head }}

		<meta property="og:title" content="{{i18n.APP_NAME}}">
		<meta property="og:description" content="Giving social networking back to the people.">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{i18n.APP_NAME}}">
		<meta property="og:url" content="https://{{host}}">
		<meta property="og:image" content="https://{{host}}/assets/images/icon-256.png">
		<meta property="twitter:title" content="{{i18n.APP_NAME}}">
		<meta property="twitter:description" content="Giving social networking back to the people.">
		<meta property="twitter:card" content="summary_image">
		<meta property="twitter:image:src" content="https://{{host}}/assets/images/icon-256.png">
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="people-content base-margin-bottom">
				<h1 class="no-padding">Giving social networking back to the people.</h1>
			</div>
			<div class="people-container flex two three-500 half-margin-bottom">
				<div class="one-half one-third-500">
					<img src="/assets/images/carousel1.jpg" title="Photo by Andrea Piacquadio from Pexels">
				</div>
				<div class="one-half one-third-500">
					<img src="/assets/images/carousel2.jpg" title="Photo by Creation Hill from Pexelss">
				</div>
				<div class="one-half one-third-500 hide-mobile">
					<img src="/assets/images/carousel3.jpg" title="Photo by Brett Sayles from Pexels">
				</div>
				<div class="one-half one-third-500 hide-mobile">
					<img src="/assets/images/carousel4.jpg" title="Photo by Ba Phi from Pexels">
				</div>
				<div class="one-half one-third-500">
					<img src="/assets/images/carousel5.jpg" title="Photo by Andrea Piacquadio from Pexels">
				</div>
				<div class="one-half one-third-500">
					<img src="/assets/images/carousel6.jpg" title="Photo by Daniel Xavier from Pexels">
				</div>
			</div>
			{{> install-button}}
			<div class="text-normal">
				<p>At rPAGES we believe that social networking should facilitate communication, not gamify it. We've reimagined the personalized, online experience for consensual, one to one conversations, empowering users to understand and build compassion for each other.</p>
				<p>We've also brought back the long lost feature of customizing your page. Give it an animated background, add your favorite song, and pin your best post to the top. You have complete stylistic control.</p>
				<a class="button primary" href="/signup">Sign Up for an Account</a>
				<a class="button pseudo" href="/help/about">Read Our Manifesto</a>
			</div>
			{{> footer}}
		</div>
	</body>
</html>