<!DOCTYPE html>
<html style="margin: 0">
	<head>
		<title>{{post.user.firstName}} {{post.user.lastName}} on {{i18n.APP_NAME}}</title>
		<base target="_parent">
		{{> head }}
	</head>
	<body>
		<div class="card post base-padding break-word">
			<div class="left-to-right">
				<a href="//{{host}}/users/{{post.user.handle}}" target="_blank">
					<div class="user-image half-margin-right">
						{{#if post.user.image}}
							<img src="{{post.user.image}}">
						{{else}}
							<img src="/assets/images/default-user.jpg">
						{{/if}}
					</div>
				</a>
				{{#if post.user.firstName}}
					<div>
						<h3 class="no-padding no-margin">{{post.user.firstName}} {{post.user.lastName}}</h3>
						<div class="text-small neg-qtr-margin-top">
							<a class="text-light" href="//{{host}}/users/{{post.user.handle}}" target="_blank">@{{post.user.handle}}</a>
						</div>
					</div>
				{{/if}}
			</div>
			<div class="neg-half-margin-top half-margin-bottom">
				<a id="post_{{post._id}}" class="text-xsmall text-light" href="//{{host}}/posts/{{post._id}}">{{post.readableDate}}</a>
				{{> localized-date prefix='post_' uid=post._id iso=post.createdISO}}
			</div>
			{{#if post.content}}
				<div>{{{post.content}}}</div>
			{{else}}
				<div>{{i18n.POST_NOT_FOUND}}</div>
			{{/if}}
			<div class="text-right half-margin-top">
				<a class=" text-light text-xsmall" href="//{{host}}/signin" target="_blank">{{i18n.APP_NAME}}</a>
			</div>
		</div>
	</body>
</html>