<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}</title>
		{{> head }}

		{{#if user.image}}
			<meta property="og:image" content="https:{{user.image}}">
		{{else}}
			<meta property="og:image" content="https://{{host}}/assets/images/icon-256.png">
		{{/if}}
		<meta property="og:title" content="{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}">
		{{#each posts}}
			<meta property="og:description" content="{{this.source}}">
		{{/each}}
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{i18n.APP_NAME}}">
		<meta property="og:url" content="https://{{host}}/posts/{{posts.0._id}}">
		<meta property="twitter:title" content="{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}">
		{{#each posts}}
			<meta property="twitter:description" content="{{this.source}}">
		{{/each}}
		<meta property="twitter:card" content="summary_image">
		{{#if user.image}}
			<meta property="twitter:image:src" content="https:{{user.image}}">
		{{else}}
			<meta property="twitter:image:src" content="https://{{host}}/assets/images/icon-256.png">
		{{/if}}

		{{#if user.customCss}}
			<style>{{user.customCss}}</style>
		{{/if}}
		{{#if preview}}
			{{> dark-mode}}
		{{/if}}
		{{#if referencesPage}}
			{{> dark-mode}}
		{{/if}}
	</head>
	<body>
		{{#if loggedIn}}
			{{> authenticated-header}}
		{{else}}
			{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{> user-info}}
					{{> user-info-subscribe}}
					{{#if user.spotifyUrl}}
						{{> spotify-embed url=user.spotifyUrl soundCloud=user.soundCloud}}
					{{/if}}
					{{#if isBlake}}
						{{> buy-coffee}}
					{{/if}}
				</div>
				<div class="two-third-800">
					{{#if postSuccess}}
						{{> alert level='success' text=i18n.POST_SUCCESS}}
					{{/if}}
					{{#if postLimit}}
						{{> alert level='warning' text=i18n.POST_LIMIT}}
					{{/if}}
					{{#if preview}}
						{{> create-post}}
					{{/if}}
					{{#each posts}}
						{{> post}}
					{{/each}}
					{{#if referencesPage}}
						{{#if references.docs}}
							<h3 class="no-padding half-margin-bottom">{{i18n.REFERENCES_TO_POST}}</h3>
							<div>
								{{#each references.docs}}
									{{> post}}
								{{/each}}
								{{> pagination page=returnTo items=references}}
							</div>
						{{else}}
							<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
						{{/if}}
					{{/if}}
				</div>
			</div>
			{{> custom-css-link}}
			{{> footer}}
		</div>
	</body>
</html>