<div class="card post base-padding no-margin base-margin-top break-word">
	<div class="left-to-right">
		<div class="user-image half-margin-right">
			<a href="/users/{{post.user.handle}}">
				{{#if post.user.image}}
					<img src="{{post.user.image}}">
				{{else}}
					<img src="/assets/images/default-user.jpg">
				{{/if}}
			</a>
		</div>
		{{#if post.user.firstName}}
			<div>
				<h3 class="no-padding no-margin">{{post.user.firstName}} {{post.user.lastName}}</h3>
				<div class="text-small neg-qtr-margin-top">
					<a class="text-light" href="/users/{{post.user.handle}}">@{{post.user.handle}}</a>
				</div>
			</div>
		{{/if}}
	</div>
	<div class="neg-half-margin-top half-margin-bottom">
		<a id="postref_{{post._id}}" class="text-xsmall text-light" href="/posts/{{post._id}}">{{post.readableDate}}</a>
		{{> localized-date prefix='postref_' uid=post._id iso=post.createdISO}}
	</div>
	{{#if post.content}}
		<div>{{{post.content}}}</div>
	{{else}}
		<div>{{i18n.POST_NOT_FOUND}}</div>
	{{/if}}
</div>