<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.POSTS}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					<h3 class="no-padding show-mobile">{{i18n.POSTS}}</h3>
					<div class="hide-mobile">
						{{> user-info}}
						{{#if user.about}}
							<hr/>
						{{/if}}
						{{> user-search action='/search/users' placeholder=@root.i18n.SEARCH_USERS required=true}}
					</div>
				</div>
				<div class="two-third-800">
					{{#if postSuccess}}
						{{> alert level='success' text=i18n.POST_SUCCESS}}
					{{/if}}
					{{#if postLimit}}
						{{> alert level='warning' text=i18n.POST_LIMIT}}
					{{/if}}
					{{> create-post}}
					{{#each posts.docs}}
						{{> post}}
					{{/each}}
					{{> pagination page=returnTo items=posts}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>