<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.PRIVACY_POLICY}}</title>
		{{> head }}

		<meta property="og:title" content="{{i18n.APP_NAME}} | {{i18n.PRIVACY_POLICY}}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{i18n.APP_NAME}}">
		<meta property="og:url" content="https://{{host}}/privacy-policy">
		<meta property="og:image" content="https://{{host}}/assets/images/icon-256.png">
		<meta property="twitter:title" content="{{i18n.APP_NAME}} | {{i18n.PRIVACY_POLICY}}">
		<meta property="twitter:card" content="summary_image">
		<meta property="twitter:image:src" content="https://{{host}}/assets/images/icon-256.png">

		{{> dark-mode}}
	</head>
	<body>
		{{#if loggedIn}}
			{{> authenticated-header}}
		{{else}}
			{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one">
				<div class="full">
					<h2>{{i18n.APP_NAME}} {{i18n.PRIVACY_POLICY}}</h2>
					<p>You own your posts and comments and we will not use your personal data for marketing or sales purposes.</p>
					<div>
						<img class="rounded-corners" src="https://media.giphy.com/media/ceK5e0DXc7Zh6/source.gif" style="max-width: 100%;">
					</div>
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>