<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.RESEND_VERIFICATION_EMAIL}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					{{#if invalidToken}}
						{{> alert level='error' text=i18n.INVALID_TOKEN}}
					{{/if}}
					<h3>{{i18n.RESEND_VERIFICATION_EMAIL}}</h3>
					<div class="card base-padding">
						<form class="no-margin" action="/signup/resend-verification" method="post" onsubmit="onFormSubmit(event)">
							<label>{{i18n.EMAIL}}<input type="email" name="email" class="qtr-margin-bottom" value="{{email}}" required="true" autofocus></label>
							<input type="submit" value="{{i18n.SUBMIT}}">
						</form>
					</div>
					<div class="base-margin-bottom"><span>{{i18n.DONT_HAVE_ACCOUNT}}</span> <a href="/signup">{{i18n.SIGN_UP}}</a></div>
					{{> footer}}
					{{> form-submit-feedback}}
				</div>
			</div>
		</div>
	</body>
</html>