<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.SEARCH_USERS}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{> user-info}}
					<hr/>
					{{> user-search action='/search/users' placeholder=@root.i18n.SEARCH_USERS required=true}}
				</div>
				<div class="two-third-800">
					<div class="flex one two-800">
						{{#if users.docs}}
							{{#each users.docs}}
								<div class="half-800">
									{{> sub}}
								</div>
							{{/each}}
							{{> pagination page=paginationPage hasQuery=true items=posts}}
						{{else}}
							<div class="card base-padding text-light full-width">{{i18n.NO_USERS_MATCH}}</div>
						{{/if}}
					</div>
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>