<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.SIGN_UP}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					{{> signup-box }}
					<div class="base-margin-bottom">
						<span>{{i18n.HAVE_ACCOUNT}}</span> <a href="/signin">{{i18n.SIGN_IN}}</a>
					</div>
					{{> footer}}
				</div>
			</div>
		</div>
	</body>
</html>