<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.SIGN_IN}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					{{> install-button}}
					{{> signin-box }}
					<div><span>{{i18n.DONT_HAVE_ACCOUNT}}</span> <a href="/signup">{{i18n.SIGN_UP}}</a></div>
					<div class="base-margin-bottom">
						<a href="/forgot-password">{{i18n.FORGOT_PASSWORD}}</a>
					</div>
					{{> footer}}
				</div>
			</div>
		</div>
	</body>
</html>