<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>https://{{host}}</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
	<url>
		<loc>https://{{host}}/signin</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
	<url>
		<loc>https://{{host}}/signup</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
	<url>
		<loc>https://{{host}}/help/about</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
	<url>
		<loc>https://{{host}}/privacy-policy</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
	<url>
		<loc>https://{{host}}/users/blake</loc>
		<lastmod>2020-06-07</lastmod>
	</url>
</urlset>