<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{#if userSubs}}{{i18n.SUBSCRIPTIONS}}{{else}}{{i18n.SUBSCRIBERS}}{{/if}}</title>
		{{> head }}
		{{#if notLoggedInUser}}
			{{#if user.customCss}}
				<style>{{user.customCss}}</style>
			{{/if}}
		{{else}}
			{{> dark-mode}}
		{{/if}}
	</head>
	<body>
		{{> authenticated-header }}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{#if notLoggedInUser}}{{else}}<div class="hide-mobile">{{/if}}
						{{> user-info}}
						{{#if notLoggedInUser}}
							{{> user-info-subscribe}}
						{{/if}}
						<div class="half-margin-bottom"></div>
					{{#if notLoggedInUser}}{{else}}</div>{{/if}}
					{{#if userSubs}}
						{{> user-search action='' placeholder=@root.i18n.SEARCH_SUBSCRIPTIONS}}
					{{else}}
						{{> user-search action='' placeholder=@root.i18n.SEARCH_SUBSCRIBERS}}
					{{/if}}
				</div>
				<div class="two-third-800">
					<div class="flex">
						<div>
							<h3 class="no-padding">
								{{#if userSubs}}
									{{i18n.SUBSCRIPTIONS}}
								{{else}}
									{{i18n.SUBSCRIBERS}}
								{{/if}}
							</h3>
						</div>
						<div class="text-right">
							<a href="/help/subscriptions" title="{{@root.i18n.HELP}}">{{{octicon 'question' class='text-light'}}}</a>
						</div>
					</div>
					<div class="flex one two-800">
						{{#each subs.docs}}
							<div class="half-800">
								{{> sub}}
							</div>
						{{/each}}
					</div>
					{{> pagination page=returnTo items=subs}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>