<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}</title>
		{{> head }}
		{{> dark-mode}}
	</head>
	<body>
		{{#if loggedIn}}
			{{> authenticated-header}}
		{{else}}
			{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{> user-info}}
				</div>
				<div class="two-third-800">
					<h2 class="no-padding half-margin-bottom">#{{tag}}</h2>
					{{#if posts.docs}}
						<div>
							{{#each posts.docs}}
								{{> post}}
							{{/each}}
							{{> pagination page=paginationPage items=posts}}
						</div>
					{{else}}
						<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
					{{/if}}
				</div>
			</div>
			{{> footer}}
		</div>
	</body>
</html>