<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}</title>
		{{> head }}

		{{#if user.image}}
			<meta property="og:image" content="https:{{user.image}}">
		{{else}}
			<meta property="og:image" content="https://{{host}}/assets/images/icon-256.png">
		{{/if}}
		<meta property="og:title" content="{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}">
		{{#if user.about}}
			<meta property="og:description" content="{{user.about}}">
		{{else}}
			<meta property="og:description" content="{{i18n.APP_NAME}} | {{i18n.ABOUT_SITE}}">
		{{/if}}
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{i18n.APP_NAME}}">
		<meta property="og:url" content="https://{{host}}/users/{{user.handle}}">
		<meta property="twitter:title" content="{{i18n.APP_NAME}} | {{user.firstName}} {{user.lastName}}">
		{{#if user.about}}
			<meta property="twitter:description" content="{{user.about}}">
		{{else}}
			<meta property="twitter:description" content="{{i18n.APP_NAME}} | {{i18n.ABOUT_SITE}}">
		{{/if}}
		<meta property="twitter:card" content="summary_image">
		{{#if user.image}}
			<meta property="twitter:image:src" content="https:{{user.image}}">
		{{else}}
			<meta property="twitter:image:src" content="https://{{host}}/assets/images/icon-256.png">
		{{/if}}

		{{#if user.customCss}}
			<style>{{user.customCss}}</style>
		{{/if}}
	</head>
	<body>
		{{#if loggedIn}}
			{{> authenticated-header}}
		{{else}}
			{{> public-header}}
		{{/if}}
		<div class="content">
			<div class="flex one three-800">
				<div class="one-third-800">
					{{> user-info}}
					{{> user-info-subscribe}}
					{{#if user.spotifyUrl}}
						{{> spotify-embed url=user.spotifyUrl soundCloud=user.soundCloud}}
					{{else}}
						{{#if notLoggedInUser}}
						{{else}}
							<a class="button ghost" href="/account/customize">{{i18n.ADD_MUSIC}}</a>
						{{/if}}
					{{/if}}
					{{#if notLoggedInUser}}
					{{else}}
						{{#if user.customCss}}
						{{else}}
							<a class="button ghost" href="/account/customize">{{i18n.CUSTOMIZE_PAGE}}</a>
						{{/if}}
					{{/if}}
					{{#if isBlake}}
						{{> buy-coffee}}
					{{/if}}
				</div>
				<div class="two-third-800">
					{{#if postSuccess}}
						{{> alert level='success' text=i18n.POST_SUCCESS}}
					{{/if}}
					{{#if postLimit}}
						{{> alert level='warning' text=i18n.POST_LIMIT}}
					{{/if}}
					{{#if history}}
						<h2 class="no-padding half-margin-bottom">{{i18n.YOUR_HISTORY_WITH}} {{user.firstName}}</h2>
					{{/if}}
					{{#if posts.docs}}
						<div>
							{{#each posts.docs}}
								{{> post}}
							{{/each}}
							{{> pagination page=returnTo items=posts}}
						</div>
					{{else}}
						<div class="card base-padding text-light">{{i18n.NO_POSTS}}</div>
					{{/if}}
				</div>
			</div>
			{{> custom-css-link}}
			{{> footer}}
		</div>
	</body>
</html>