<!DOCTYPE html>
<html>
	<head>
		<title>{{i18n.APP_NAME}} | {{i18n.VERIFY_EMAIL}}</title>
		{{> head }}
	</head>
	<body>
		{{> public-header }}
		<div class="content">
			<div class="flex one two-800 center">
				<div>
					<h3>{{i18n.VERIFY_EMAIL}}</h3>
					<div class="card base-padding half-margin-bottom">{{i18n.VERIFICATION_EMAIL_SENT}}</div>
					<div class="base-margin-bottom">
						<a href="/signup/resend-verification">{{i18n.RESEND_VERIFICATION_EMAIL}}</a>
					</div>
					{{> footer}}
				</div>
			</div>
		</div>
	</body>
</html>