<div class="nav-fixed">
	<div class="nav-container">
		<nav>
			<a href="/dashboard" class="brand">
				<span>{{i18n.APP_NAME}}</span>
				<span class="text-small text-light">beta</span>
			</a>
			<input id="bmenu" type="checkbox" class="show">
			<label for="bmenu" class="burger toggle pseudo button" title="{{i18n.TOGGLE_MENU}}">{{{octicon "three-bars"}}}</label>
			<div class="mobile-menu">
				<a class="pseudo button" href="/posts" title="{{i18n.CREATE_POST}}">{{{octicon "pencil"}}}</a>
			</div>
			<div class="menu">
				<a class="pseudo button {{#if dashboardPage}}active{{/if}}" href="/dashboard">{{i18n.DASHBOARD}}</a>
				{{#if user.showFirehose}}
					<a class="pseudo button show-mobile {{#if firehoseTab}}active{{/if}}" href="/dashboard/firehose">{{i18n.FIREHOSE}}</a>
				{{/if}}
				<a class="pseudo button {{#if postsPage}}active{{/if}}" href="/posts">{{i18n.POSTS}}</a>
				<a class="pseudo button {{#if discoverPage}}active{{/if}}" href="/discover">{{i18n.DISCOVER}}</a>
				<a class="pseudo button {{#if subsPage}}active{{/if}}" href="/subs">{{i18n.SUBSCRIPTIONS}}</a>
				<a class="pseudo button show-mobile" href="/account/customize">{{i18n.CUSTOMIZATION}}</a>
				<a class="pseudo button show-mobile" href="/your-page">{{i18n.VIEW_YOUR_PAGE}}</a>
				<a class="pseudo button {{#if accountPage}}active{{/if}}" href="/account">{{i18n.ACCOUNT}}</a>
				<a class="pseudo button show-mobile" href="/help">{{i18n.HELP}}</a>
				<a class="button ghost" href="/signout">{{i18n.SIGN_OUT}}</a>
			</div>
		</nav>
	</div>
</div>
{{> pull-to-refresh}}