<div class="base-margin-top">
	<a target="_blank" href="https://www.buymeacoffee.com/rpagesblake">
		<img class='rounded-corners' src="https://cdn.buymeacoffee.com/buttons/arial-red.png" alt="Buy Me A Coffee" style="height: 51px !important;width: 217px !important;" >
	</a>
</div>