<div class="create-post half-margin-bottom">
	<form id="create-post" action="/posts{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}" method="post">
		<textarea class="text-normal" id="content" name="content" placeholder="{{@root.i18n.CREATE_POST}}" maxlength="{{maxChars}}" required {{#if @root.content}}autofocus{{/if}}>{{@root.content}}</textarea>
		<div class="flex">
			<div>
				<input id="create-post-preview" type="submit" class="pseudo" formaction="/posts/preview" value="{{@root.i18n.PREVIEW}}" onclick="submitPostForm(event, true)">
				<input id="create-post-submit" type="submit" value="{{@root.i18n.SUBMIT}}" onclick="submitPostForm(event)">
				<script>
					function submitPostForm(event, preview) {
						if (document.getElementById('content').value !== '') {
							event.preventDefault();
							var button = document.getElementById(preview ? 'create-post-preview' : 'create-post-submit');
							button.value = '{{@root.i18n.SUBMITTING}}...';
							button.setAttribute('disabled', true);

							var form = document.getElementById('create-post');
							if (preview) {
								form.action = '/posts/preview';
							}
							form.submit();
						}
					}
				</script>
			</div>
			<div class="text-right text-light text-small">
				<div>{{@root.i18n.MAX_CHARACTERS}}</div>
				<a href="/help/posting" title="{{@root.i18n.HELP}}">{{{octicon 'question' class='text-light'}}}</a>
			</div>
		</div>
		<div id="create-post-buttons" class="create-post-icons" style="display: none;">
			{{#if @root.user.imgur}}
				<div>
					<label for="modal_imgur" class="create-post-icon" title="{{@root.i18n.ADD_IMAGES}}">
						<img src="/assets/images/imgur-icon.png">
					</label>
				</div>
			{{else}}
				<div>
					<a for="modal_imgur" class="create-post-icon" href="/account/image" title="{{@root.i18n.CONNECT_TO_IMGUR}}">
						<img src="/assets/images/imgur-icon.png">
					</a>
				</div>
			{{/if}}
			<div>
				<label for="modal_giphy" class="create-post-icon" title="{{@root.i18n.SEARCH_GIFS}}">
					<img src="/assets/images/giphy-icon.png">
				</label>
			</div>
		</div>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				document.getElementById('create-post-buttons').setAttribute('style', '');
				document.getElementById('content').setAttribute('style', 'padding-right: 2.75rem;')
			});
		</script>
		{{> form-submit-feedback}}
	</form>
</div>
{{> giphy-modal}}
{{> imgur-modal}}