{{#if @root.user.customCss}}
	<div class="custom-css-link">
		<label for="modal_css" title="{{@root.i18n.VIEW_CUSTOM_CSS}}">{{{octicon 'paintcan'}}}</label>
	</div>
	<div class="modal">
		<input id="modal_css" type="checkbox"/>
		<label for="modal_css" class="overlay"></label>
		<article>
			<header>
				<h2>{{@root.i18n.CUSTOM_CSS}}</h2>
				<label for="modal_css" class="close">{{{octicon "x"}}}</label>
			</header>
			<section>
				<div class="card base-padding text-small break-word">{{@root.user.customCss}}</div>
			</section>
			<footer>
				<label for="modal_css" class="pseudo button">{{@root.i18n.CLOSE}}</label>
			</footer>
		</article>
	</div>
{{/if}}