<footer class="base-margin-bottom">
	<div class="text-right text-xsmall text-light">
		<a class="text-light" href="/privacy-policy">{{i18n.PRIVACY_POLICY}}</a> | 
		<a class="text-light" href="/terms-and-conditions">{{i18n.TERMS_AND_CONDITIONS}}</a> | 
		<a class="text-light" href="/help">{{i18n.HELP}}</a><br/> 
		<span class="text-right">{{{@root.i18n.COPYRIGHT}}} {{@root.i18n.APP_NAME}}</span>
	</div>
</footer>