<script>
	function onFormSubmit(event, altText) {
		let button = event.submitter
		if (!button) {
			for (let element of event.target) {
				if (element.getAttribute('type') === 'submit') {
					button = element;
					break;
				}
			}
		}
		if (button && button.getAttribute('formtarget') !== '_blank') {
			button.value = altText ? (altText + '...') : '{{@root.i18n.SUBMITTING}}...';
			button.setAttribute('disabled', 'true');
		}
	}
</script>