<div class="modal">
	<input id="modal_giphy" type="checkbox"/>
	<label for="modal_giphy" class="overlay"></label>
	<article>
		<header>
			<h2>{{@root.i18n.SEARCH_GIFS}}</h2>
			<label for="modal_giphy" class="close">{{{octicon "x"}}}</label>
		</header>
		<section>
			<div class="base-margin-bottom">
				<form onsubmit="searchGiphy(event)">
					<div class="flex search-box">
						<label><input type="text" id="giphy-search" required></label>
						<button type="submit" class="pseudo no-margin no-padding text-small">{{{octicon "search" class="text-light"}}}</button>
						<script>
							function searchGiphy(event) {
								event.preventDefault();
								var search = document.getElementById('giphy-search').value;
								
								document.getElementById('giphy-results-container').setAttribute('style', 'display: block;');
								document.getElementById('giphy-results').setAttribute('src', '/giphy/search?search=' + search);
							}

							function addGiphy(embedUrl) {
								var content = document.getElementById('content');
								content.value = content.value + (content.value.length ? '\n\n' : '') + embedUrl;
								document.getElementById('modal_giphy').click();
								content.focus();
							}
						</script>
					</div>
				</form>
				<div id="giphy-results-container" class="giphy-results-container" style="display: none;">
					<iframe id="giphy-results"></iframe>
				</div>
				<div class="text-small">
					<a class="left-to-right text-light text-xsmall" href="https://giphy.com" target="_blank">
						<img class="giphy-logo" src="/assets/images/giphy-logo.png">
					</a>
				</div>
			</div>
		</section>
	</article>
</div>