<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#0074D9"/>

<link rel="manifest" href="/manifest.webmanifest">
<link rel="apple-touch-icon" href="/assets/images/icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icon-ipad.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/images/icon-ipad-retina.png">

<link href="/assets/css/picnic.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/style.css" rel="stylesheet" type="text/css">