<div class="modal">
	<input id="modal_imgur" type="checkbox"/>
	<label for="modal_imgur" class="overlay"></label>
	<article>
		<header>
			<h2>{{@root.i18n.ADD_IMAGES}}</h2>
			<label for="modal_imgur" class="close">{{{octicon "x"}}}</label>
		</header>
		<section>
			<div class="base-margin-bottom">
				<div>
					<button id="imgur-upload-button" class="pseudo active" onclick="showImgurUpload()">{{@root.i18n.UPLOAD_IMAGE_IMGUR}}</button>
					<button id="imgur-list-button" class="pseudo" onclick="showImgurList()">{{@root.i18n.SELECT_IMAGE}}</button>
				</div>
				<div id="imgur-results-container" class="giphy-results-container">
					<iframe id="imgur-results" src="/imgur/upload"></iframe>
				</div>
				<div class="text-small">
					<a class="left-to-right text-light text-xsmall" href="https://imgur.com" target="_blank">
						<span class="half-margin-right">{{i18n.POWERED_BY}}</span>
						<img class="giphy-logo" src="/assets/images/imgur-logo.png">
					</a>
				</div>
				<script>
					function showImgurUpload() {
						document.getElementById('imgur-upload-button').setAttribute('class', 'pseudo active');
						document.getElementById('imgur-list-button').setAttribute('class', 'pseudo');
						document.getElementById('imgur-results').setAttribute('src', '/imgur/upload');
					}

					function showImgurList() {
						document.getElementById('imgur-list-button').setAttribute('class', 'pseudo active');
						document.getElementById('imgur-upload-button').setAttribute('class', 'pseudo');
						document.getElementById('imgur-results').setAttribute('src', '/imgur/list');
					}

					function addImgur(imageUrl) {
						var content = document.getElementById('content');
						content.value = content.value + (content.value.length ? '\n\n' : '') + imageUrl;
						document.getElementById('modal_imgur').click();
						content.focus();
					}
				</script>
			</div>
		</section>
	</article>
</div>