<button id="install-button" class="button install-button base-margin-bottom full-width" onclick="installApp()" style="display: none;">
	<img src="/assets/images/phone.png">
	<h3>{{i18n.GET_THE_APP}}</h3>
</button>
<script>
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', function () {
			navigator.serviceWorker.register('/service-worker.js')
		});
	}

	var installPrompt;
	window.addEventListener('beforeinstallprompt', function (event) {
		if (navigator.userAgent.toLowerCase().match(/(ipad|iphone|ipod|android)/)) {
			installPrompt = event;
			document.getElementById('install-button').setAttribute('style', '');
		}
	});

	function installApp() {
		installPrompt.prompt();
		document.getElementById('install-button').setAttribute('style', 'display: none;');
	}

	if (navigator.userAgent.toLowerCase().match(/(ipad|iphone|ipod)/) && 'standalone' in window.navigator && !window.navigator.standalone) {
		var installButton = document.getElementById('install-button');
		installButton.setAttribute('style', '');
		installButton.addEventListener('click', function (event) {
			event.preventDefault();
			document.getElementById('modal_ios_install').click();
		});
	}
</script>
<div class="modal">
	<input id="modal_ios_install" type="checkbox"/>
	<label for="modal_ios_install" class="overlay"></label>
	<article>
		<header>
			<h2>{{@root.i18n.GET_THE_APP}}</h2>
			<label for="modal_ios_install" class="close">{{{octicon "x"}}}</label>
		</header>
		<section>
			<span>{{@root.i18n.INSTALL_IOS_1}}</span> <img class="qtr-margin-left" src="/assets/images/ios-share.svg"> <span>{{@root.i18n.INSTALL_IOS_2}}</span>
		</section>
		<footer>
			<label for="modal_ios_install" class="pseudo button">{{@root.i18n.CLOSE}}</label>
		</footer>
	</article>
</div>