<div class="text-right">
	{{#if items.previousPage}}
		<a class="pseudo button" href="{{page}}{{#if hasQuery}}&{{else}}?{{/if}}page={{items.previousPage}}" title="{{i18n.PREVIOUS_PAGE}}">
			{{{octicon "chevron-left"}}}
		</a>
	{{/if}}
	{{#if items.nextPage}}
		<a class="pseudo button" href="{{page}}{{#if hasQuery}}&{{else}}?{{/if}}page={{items.nextPage}}" title="{{i18n.NEXT_PAGE}}">
			{{{octicon "chevron-right"}}}
		</a>
	{{/if}}
</div>