{{#if @root.loggedIn}}
	<div class="post-actions">
		{{#if post.references}}
			<a title="{{@root.i18n.VIEW_REFERENCES}}" href="/posts/{{post._id}}/references">{{{octicon "comment-discussion" class="text-light"}}}</a>
		{{/if}}
		{{#if @root.preview}}
		{{else}}
			<a title="{{@root.i18n.REFERENCE_POST}}" href="/posts/{{post._id}}/reference{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}">{{{octicon "reply" class="text-light"}}}</a>
			{{#if canDelete}}
			{{else}}
				<a title="{{@root.i18n.MENTION}} {{post.user.firstName}}" href="/users/{{post.user.handle}}/mention">{{{octicon "mention" class="text-light"}}}</a>
			{{/if}}
			<label for="modal_share{{post._id}}" title="{{@root.i18n.SHARE_POST}}">{{> share-icon}}</label>
		{{/if}}
		{{#if post.canPin}}
			<label for="modal_pin_{{post._id}}" title="{{@root.i18n.PIN}}">{{{octicon "pin" class="text-light"}}}</label>
		{{/if}}
		<label for="modal_source_{{post._id}}" title="{{@root.i18n.VIEW_POST_SOURCE}}">{{{octicon "code" class="text-light"}}}</label>
		{{#if post.canDelete}}
			<label for="modal_delete_{{post._id}}" title="{{@root.i18n.DELETE}}">{{{octicon "trashcan" class="text-light"}}}</label>
		{{else}}
			{{#if @root.history}}
			{{else}}
				<a title="{{@root.i18n.YOUR_HISTORY_WITH}} {{post.user.firstName}}" href="/users/{{post.user.handle}}/history">{{{octicon "history" class="text-light"}}}</a>
			{{/if}}
		{{/if}}
	</div>
{{else}}
	<div class="post-actions">
		<a title="{{@root.i18n.REFERENCE_POST}}" href="/signin">{{{octicon "reply" class="text-light"}}}</a>
		<label for="modal_share{{post._id}}" title="{{@root.i18n.SHARE_POST}}">{{> share-icon}}</label>
		<label for="modal_source_{{post._id}}" title="{{@root.i18n.VIEW_POST_SOURCE}}">{{{octicon "code" class="text-light"}}}</label>
	</div>
{{/if}}

<div class="modal">
	<input id="modal_share{{post._id}}" type="checkbox"/>
	<label for="modal_share{{post._id}}" class="overlay"></label>
	<article>
		<header>
			<h2>{{@root.i18n.SHARE_POST}}</h2>
			<label for="modal_share{{post._id}}" class="close">{{{octicon "x"}}}</label>
		</header>
		<section>
			<div class="half-margin-bottom">
				<label>Embed</label>
				<textarea id="modal_share_embed{{post._id}}" class="no-margin codearea" readonly><iframe frameBorder="0" width="500" height="150" src="https://{{@root.host}}/posts/{{post._id}}/embed"></iframe></textarea>
				<button id="modal_share_embed{{post._id}}_button" class="button text-small" onclick="copyToClipboard('modal_share_embed{{post._id}}')">{{@root.i18n.COPY}}</button>
			</div>
			<div class="base-margin-bottom">
				<label>Permalink</label>
				<input id="modal_share_link{{post._id}}" value='https://{{@root.host}}/posts/{{post._id}}' readonly>
				<button id="modal_share_link{{post._id}}_button" class="button text-small" onclick="copyToClipboard('modal_share_link{{post._id}}')">{{@root.i18n.COPY}}</button>
			</div>
			<script>
				function copyToClipboard(id) {
					var copyElement = document.getElementById(id);
					copyElement.select();
					copyElement.setSelectionRange(0, 99999);
					document.execCommand("copy");

					var button = document.getElementById(id + '_button');
					button.innerHTML = '{{@root.i18n.COPIED}}';
					button.setAttribute('class', 'button success text-small');
				}
			</script>
		</section>
		<footer>
			<label for="modal_share{{post._id}}" class="pseudo button">{{@root.i18n.CLOSE}}</label>
		</footer>
	</article>
</div>
<div class="modal">
	<input id="modal_source_{{post._id}}" type="checkbox"/>
	<label for="modal_source_{{post._id}}" class="overlay"></label>
	<article>
		<header>
			<h2>{{@root.i18n.VIEW_POST_SOURCE}}</h2>
			<label for="modal_source_{{post._id}}" class="close">{{{octicon "x"}}}</label>
		</header>
		<section>
			<div class="card base-padding text-small break-word">{{{post.source}}}</div>
		</section>
		<footer>
			<label for="modal_source_{{post._id}}" class="pseudo button">{{@root.i18n.CLOSE}}</label>
		</footer>
	</article>
</div>
{{#if canPin}}
	<div class="modal">
		<input id="modal_pin_{{post._id}}" type="checkbox"/>
		<label for="modal_pin_{{post._id}}" class="overlay"></label>
		<article>
			<header>
				<h2>{{@root.i18n.PIN_POST}}</h2>
				<label for="modal_pin_{{post._id}}" class="close">{{{octicon "x"}}}</label>
			</header>
			<section>{{@root.i18n.PIN_POST_CONFIRM}}</section>
			<footer>
				<form action="/posts/{{post._id}}/pin{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}" method="post" onsubmit="onFormSubmit(event, '{{@root.i18n.PINNING}}')">
					<label for="modal_pin_{{post._id}}" class="pseudo button">{{@root.i18n.CANCEL}}</label>
					<input type="submit" value="{{@root.i18n.PIN}}">
					{{> form-submit-feedback}}
				</form>
			</footer>
		</article>
	</div>
{{/if}}
{{#if canDelete}}
	<div class="modal">
		<input id="modal_delete_{{post._id}}" type="checkbox"/>
		<label for="modal_delete_{{post._id}}" class="overlay"></label>
		<article>
			<header>
				<h2>{{@root.i18n.DELETE_POST}}</h2>
				<label for="modal_delete_{{post._id}}" class="close">{{{octicon "x"}}}</label>
			</header>
			<section>{{@root.i18n.DELETE_POST_CONFIRM}}</section>
			<footer>
				<label for="modal_delete_{{post._id}}" class="pseudo button">{{@root.i18n.CANCEL}}</label>
				<a class="button dangerous" href="/posts/{{post._id}}/delete{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}">{{@root.i18n.DELETE}}</a>
			</footer>
		</article>
	</div>
{{/if}}