<div class="card post base-padding break-word">
	{{#if this.pinned}}
		<div class="top-right-item">{{{octicon "pin" class="text-xlight"}}}</div>
	{{/if}}
	<div class="left-to-right">
		<div class="user-image half-margin-right">
			<a href="/users/{{this.user.handle}}">
				{{#if this.user.image}}
					<img src="{{this.user.image}}">
				{{else}}
					<img src="/assets/images/default-user.jpg">
				{{/if}}
			</a>
		</div>
		<div>
			<h3 class="no-padding no-margin">
				{{this.user.firstName}} {{this.user.lastName}}
			</h3>
			<div class="text-small neg-qtr-margin-top">
				<a class="text-light" href="/users/{{this.user.handle}}">@{{this.user.handle}}</a>
			</div>
		</div>
	</div>
	<div class="neg-half-margin-top half-margin-bottom">
		{{#if youReferenced}}
			<a class="text-xsmall text-light" href="/posts/{{this._id}}" title="{{@root.i18n.YOU_REFERENCED_POST}}">
				<span id="post_{{this._id}}">{{this.readableDate}}</span>
				<span>{{{octicon 'comment' class='text-light' style='height: var(--text-xsmall)'}}}</span>
			</a>
		{{else}}
			<a class="text-xsmall text-light" href="/posts/{{this._id}}">
				<span id="post_{{this._id}}">{{this.readableDate}}</span>
			</a>
		{{/if}}
		{{> localized-date prefix='post_' uid=this._id iso=this.createdISO}}
	</div>
	<div class="text-normal">{{{this.content}}}</div>
	{{> post-actions post=this}}
</div>