<div class="nav-fixed">
	<div class="nav-container">
		<nav>
			<a href="/" class="brand">
				<span>{{i18n.APP_NAME}}</span>
				<span class="text-small text-light">beta</span>
			</a>
			<div class="menu">
				{{#if helpPage}}
				{{else}}
					<a class="button pseudo hide-mobile" href="/help/about">{{i18n.ABOUT}} {{i18n.APP_NAME}}</a>
					<a class="button ghost show-mobile" href="/help/about">{{i18n.ABOUT}}</a>
				{{/if}}
				{{#if isSignin}}
					<a class="button ghost" href="/signup">{{i18n.SIGN_UP}}</a>
				{{else}}
					<a class="button" href="/signin?returnTo={{@root.returnTo}}">{{i18n.SIGN_IN}}</a>
				{{/if}}
			</div>
		</nav>
	</div>
</div>
{{> pull-to-refresh}}