<div class="pull-to-refresh text-center">
	<div class="text-small text-xlight">{{@root.i18n.PULL_TO_REFRESH}}</div>
</div>
<script>
	var touches = {};

	document.addEventListener('touchstart', function(event) {
		touches.start = event.targetTouches ? event.targetTouches[0] : event;
	});
	document.addEventListener('touchend', function(event) {
		touches.stop = event.changedTouches ? event.changedTouches[0] : event;
		if (Math.abs(touches.start.screenX - touches.stop.screenX) <= 100
		&& touches.start.screenY - touches.stop.screenY <= -200
		&& document.body.scrollTop >= 0) {
			window.location.reload();
		}
	});
</script>