<svg class="octicon octicon-mention text-light" viewBox="0 0 16 16" width="16" height="16"
	version="1.1">
	<metadata id="metadata10">
		<rdf:RDF>
			<cc:Work rdf:about="">
				<dc:format>image/svg+xml</dc:format>
				<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
				<dc:title></dc:title>
			</cc:Work>
		</rdf:RDF>
	</metadata>
	<defs id="defs8" />
	<sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10"
		gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1287"
		inkscape:window-height="872" id="namedview6" showgrid="false" inkscape:zoom="14.75" inkscape:cx="8.1355932"
		inkscape:cy="8" inkscape:window-x="384" inkscape:window-y="110" inkscape:window-maximized="0"
		inkscape:current-layer="svg4" />
	<path d="M 11.0625,6.6875 12.375,5.375 8,1 3.625,5.375 4.9375,6.6875 7.125,4.343375 V 11.5 h 1.75 V 4.343375 Z"
		id="path2" inkscape:connector-curvature="0" style="stroke-width:0.875" />
	<path style="stroke-width:0.86537218" d="M 1,8 V 13.25 15 H 2.75 15 V 13.25 8 h -1.75 v 5.25 H 2.75 V 8 Z"
		id="path2-3" inkscape:connector-curvature="0" />
</svg>