<h3>{{i18n.SIGN_UP}}</h3>
<div class="card base-padding">
	{{#if invalidSignup}}
		{{> alert level="error" text=i18n.INVALID_SIGNUP}}
	{{/if}}
	<form class="no-margin" action="/signup{{#if @root.captchaId}}?captchaId={{@root.captchaId}}{{/if}}" method="post" onsubmit="onFormSubmit(event)">
		<label>
			<div class="flex">
				<div class="no-padding-bottom">{{i18n.EMAIL}}</div>
				<div class="no-padding text-light text-xxsmall text-right">required</div>
			</div>
			<input type="email" name="email" class="qtr-margin-bottom" value="{{email}}" required>
		</label>
		<label>
			<div class="flex">
				<div class="no-padding-bottom">{{i18n.PASSWORD}}</div>
				<div class="no-padding text-light text-xxsmall text-right">required</div>
			</div>
			<input type="password" name="password" class="qtr-margin-bottom" required>
		</label>
		<label>
			<div class="flex">
				<div class="no-padding-bottom">{{i18n.FIRST_NAME}}</div>
				<div class="no-padding text-light text-xxsmall text-right">required</div>
			</div>
			<input type="text" name="firstName" class="qtr-margin-bottom" value="{{firstName}}" required>
		</label>
		<label>{{i18n.LAST_NAME}}<input type="text" name="lastName" class="qtr-margin-bottom" value="{{lastName}}"></label>
		<label>
			<div class="flex">
				<div class="no-padding-bottom">{{i18n.DATE_OF_BIRTH}}</div>
				<div class="no-padding text-light text-xxsmall text-right">required</div>
			</div>
			<input type="date" name="dateOfBirth" class="qtr-margin-bottom" value="{{dateOfBirth}}" max="{{dobMax}}" required>
		</label>
		<div></div>
		{{#if @root.captchaImage}}
			<label>{{i18n.CAPTCHA_PROMPT}}<input type="text" name="captcha" required></label>
			<div class="half-margin-top qtr-margin-bottom">
				<img src="data:image/gif;base64,{{@root.captchaImage}}">
			</div>
		{{/if}}
		<input type="submit" value="{{i18n.SUBMIT}}">
		<div class="text-light text-xxsmall half-margin-top">{{i18n.COOKIE_CONSENT}}</div>
		{{> form-submit-feedback}}
	</form>
</div>