<h3>{{i18n.SIGN_IN}}</h3>
<div class="card base-padding">
	{{#if invalidLogin}}
		{{> alert level="error" text=i18n.INVALID_LOGIN}}
	{{/if}}
	{{#if unverified}}
		<h2>
			<label class="label warning no-margin base-padding full-width">
				<span>{{i18n.UNVERIFIED_DETAIL}}</span>
				<a href="/signup/resend-verification">{{i18n.RESEND_VERIFICATION_EMAIL}}</a>
			</label>
		</h2>
	{{/if}}
	<form class="no-margin" action="/signin{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}" method="post" onsubmit="onFormSubmit(event)">
		<label>{{i18n.EMAIL}}<input type="email" name="email" class="qtr-margin-bottom" value="{{email}}" required="true" autofocus></label>
		<label>{{i18n.PASSWORD}}<input type="password" name="password" value="{{password}}" required="true"></label>
		<input type="submit" value="{{i18n.SUBMIT}}">
		{{> form-submit-feedback}}
	</form>
</div>
