{{#if soundCloud}}
	<div class="soundcloud-embed half-margin-top">
		<iframe scrolling="no" frameborder="0" allowtransparency="true" width="100%" height="115" src="https://w.soundcloud.com/player/?url={{url}}"></iframe>
	</div>
{{else}}
	<div class="spotify-embed half-margin-top">
		<iframe src="https://open.spotify.com/embed/{{url}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
{{/if}}
