<div class="card sub base-padding break-word">
	<div class="left-to-right">
		<div class="user-image half-margin-right">
			<a href="/users/{{this.user.handle}}">
				{{#if this.user.image}}
					<img src="{{this.user.image}}">
				{{else}}
					<img src="/assets/images/default-user.jpg">
				{{/if}}
			</a>
		</div>
		{{#if this.user.firstName}}
			<div class="neg-qtr-margin-top">
				<h3 class="no-padding no-margin">{{this.user.firstName}} {{this.user.lastName}}</h3>
				<div class="text-small neg-qtr-margin-top">
					<a class="text-light" href="/users/{{this.user.handle}}">@{{this.user.handle}}</a>
				</div>
				{{#if this.user.readableDate}}
					<div class="neg-half-margin-top half-margin-bottom">
						<a id="sub_{{this.user._id}}" class="text-xxsmall text-light" href="/users/{{this.user.handle}}">{{@root.i18n.SINCE}} {{this.user.readableDate}}</a>
					</div>
				{{/if}}
			</div>
		{{/if}}
	</div>
	{{#if this.user.notLoggedInUser}}
		{{#if this.user.subscribed}}
			<a class="button warning text-small" href="/users/{{this.user._id}}/unsubscribe?returnTo={{this.returnTo}}">{{@root.i18n.UNSUBSCRIBE}}</a>
			{{#if @root.userSubs}}
				{{#if this.showEmail}}
					<a class="button warning text-small" href="/users/{{this.user._id}}/hide-email?returnTo={{this.returnTo}}">{{@root.i18n.HIDE_YOUR_EMAIL}} {{this.user.firstName}}</a>
				{{else}}
					<a class="button primary text-small" href="/users/{{this.user._id}}/show-email?returnTo={{this.returnTo}}">{{@root.i18n.SHOW_YOUR_EMAIL}} {{this.user.firstName}}</a>
				{{/if}}
			{{/if}}
		{{else}}
			<a class="button primary text-small" href="/users/{{this.user._id}}/subscribe?returnTo={{this.returnTo}}">{{@root.i18n.SUBSCRIBE}}</a>
		{{/if}}
	{{else}}
		<a class="button text-small" disabled>{{@root.i18n.THATS_YOU}}</a>
	{{/if}}
</div>