<form action="{{this.action}}" action="get">
	<div class="flex search-box">
		<label><input type="text" name="search" placeholder="{{this.placeholder}}" value="{{@root.search}}" {{#if this.required}}required{{/if}}></label>
		<button type="submit" class="pseudo no-margin no-padding text-small">{{{octicon "search" class="text-light"}}}</button>
	</div>
</form>