<div class="user-info">
	<div class="left-to-right">
		<div class="user-image half-margin-right">
			{{#if user.image}}
				<img src="{{user.image}}">
			{{else}}
				<img src="/assets/images/default-user.jpg">
			{{/if}}
		</div>
		<div>
			<h3 class="no-padding">{{user.firstName}} {{user.lastName}}</h3>
			<div class="neg-half-margin-top">
				<a class="text-light text-small" href="/users/{{user.handle}}">@{{user.handle}}</a>
			</div>
			{{#if user.subscribers}}
				<div><a class="text-light text-small" href="/subs/{{user.handle}}">{{i18n.SUBSCRIBERS}}: {{user.subscribers}}</a></div>
			{{/if}}
			<div class="text-light text-small">{{@root.i18n.MEMBER_SINCE}} {{user.memberSince}}</div>
		</div>
	</div>
	{{#if hideExtra}}
	{{else}}
		<hr/>
		{{#if user.about}}
			<div class="text-light text-small">{{user.about}}</div>
		{{/if}}
		{{#if user.showingEmail}}
			<div><a class="text-light text-small" href="mailto:{{user.email}}">{{user.email}}</a></div>
		{{/if}}
		{{#if user.website}}
			<a class="text-small" href="{{user.website}}" target="_blank">{{user.displayWebsite}}</a>
		{{/if}}
	{{/if}}
</div>