{{#if loggedIn }}
	{{#if notLoggedInUser}}
		{{#if subscribed}}
			<a class="button warning text-small" href="/users/{{user._id}}/unsubscribe">{{@root.i18n.UNSUBSCRIBE}}</a>
		{{else}}
			<a class="button primary text-small" href="/users/{{user._id}}/subscribe">{{@root.i18n.SUBSCRIBE}}</a>
		{{/if}}
		{{#if @root.references}}
		{{else}}
			<a class="button text-small" href="/users/{{user.handle}}/mention{{#if @root.returnTo}}?returnTo={{@root.returnTo}}{{/if}}">{{@root.i18n.MENTION}} {{user.firstName}}</a>
		{{/if}}
	{{/if}}
{{/if}}