:root {
	--max-content-width: 1000px;
	--desktop-width: 800px;
	--base-spacing: 1rem;
	--half-spacing: calc(var(--base-spacing) * 0.5);
	--qtr-spacing: calc(var(--base-spacing) * 0.25);
	--tiny-spacing: calc(var(--base-spacing) * 0.125);
	--text-normal: 1rem;
	--text-small: 0.9rem;
	--text-xsmall: 0.85rem;
	--text-xxsmall: 0.8rem;

	--background-color: #222233;
	--text-dark: #121212;
	--text-medium: #666666;
	--text-light: #999999;
	--text-xlight: #CCCCCC;
	--text-xxlight: #DFDFDF;
	--text-link: #0074D9;

	--border-radius: 0.25rem;
}

body {
	color: var(--text-xlight);
}

nav .burger ~ .menu, .modal .overlay ~ * {
	background-color: var(--background-color);
}

input, textarea {
	background-color: transparent;
	color: var(--text-light);
	border-color: var(--text-light);
}

.search-box button {
	border-color: var(--text-light) var(--text-light) var(--text-light) transparent;
}

.card {
	background-color: var(--background-color);
	border-color: var(--text-medium);
}

.button.ghost, .button.ghost:hover {
	background-color: transparent;
	border: 1px solid var(--text-medium);
	color: var(--text-xlight);
}

button.active, .active.button, .active[type="submit"], .active.dropimage, button:active, .button:active, :active[type="submit"], .dropimage:active, button.pseudo:active, .pseudo.button:active, .pseudo:active[type="submit"], .pseudo.dropimage:active {
	box-shadow: inset 0 0 0 99em rgba(17,17,17,0.5);
}

button.pseudo:hover, .pseudo.button:hover, .button.ghost:hover, .pseudo:hover[type="submit"], .pseudo.dropimage:hover, button.pseudo:focus, .pseudo.button:focus, .pseudo:focus[type="submit"], .pseudo.dropimage:focus {
	box-shadow: inset 0 0 0 99em rgba(17,17,17,0.3);
}

.button.pseudo svg, .close svg {
	fill: var(--text-xlight);
}

.modal .overlay ~ * header {
	border-color: var(--text-medium);
}