:root {
	--max-content-width: 1000px;
	--desktop-width: 800px;
	--base-spacing: 1rem;
	--half-spacing: calc(var(--base-spacing) * 0.5);
	--qtr-spacing: calc(var(--base-spacing) * 0.25);
	--tiny-spacing: calc(var(--base-spacing) * 0.125);
	--text-normal: 1rem;
	--text-small: 0.9rem;
	--text-xsmall: 0.85rem;
	--text-xxsmall: 0.8rem;

	--background-color: #EAF5FA;
	--text-dark: #121212;
	--text-light: #666666;
	--text-xlight: #CCCCCC;
	--text-xxlight: #DFDFDF;
	--text-link: #0074D9;

	--border-radius: 0.25rem;
}

@font-face {
	font-family: 'SiteFont';
	src: url(/assets/fonts/roboto-regular.woff) format('woff');
}

@font-face {
	font-family: 'SiteFont';
	src: url(/assets/fonts/roboto-medium.woff) format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'SiteFont';
	src: url(/assets/fonts/roboto-bold.woff) format('woff');
	font-weight: 800;
}

html {
	background-color: var(--background-color);
	margin: 0;
}

body {
	padding: var(--base-spacing);
	font-family: 'SiteFont', Arial, Helvetica, sans-serif;
	background: transparent;
}

hr {
	margin: var(--half-spacing);
	border-top: 1px solid var(--text-light);
	border-bottom: none;
}

textarea {
	resize: vertical;
	min-height: 6rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-light);
  -webkit-transition: .4s;
	transition: .4s;
	border-radius: 1rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.5rem;
  width: 1.5rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: var(--text-xxlight);
  -webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--text-link);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--text-link);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.25rem);
  -ms-transform: translateX(1.25rem);
  transform: translateX(1.25rem);
}

.rounded-corners {
	border-radius: var(--border-radius);
}

.codearea {
	font-family: monospace;
	font-size: 0.95rem;
}

.break-word {
	word-break: break-word;
}

.label.full-width {
	text-align: left;
	line-height: normal;
}

.label.full-width a {
	color: var(--background-color);
	text-decoration: underline;
}

.left-to-right {
	display: flex;
	align-items: stretch;
}

.full-width {
	width: 100%;
}

.no-padding {
	padding: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.base-padding {
	padding: var(--base-spacing);
}

.half-padding {
	padding: var(--half-spacing);
}

.no-margin {
	margin: 0;
}

.base-margin-top {
	margin-top: var(--base-spacing);
}

.half-margin-top {
	margin-top: var(--half-spacing);
}

.qtr-margin-bottom {
	margin-bottom: var(--qtr-spacing);
}

.half-margin-bottom {
	margin-bottom: var(--half-spacing);
}

.base-margin-bottom {
	margin-bottom: var(--base-spacing);
}

.qtr-margin-left {
	margin-left: var(--qtr-spacing);
}

.base-margin-left {
	margin-left: var(--base-spacing);
}

.qtr-margin-right {
	margin-right: var(--qtr-spacing);
}

.half-margin-right {
	margin-right: var(--half-spacing);
}

.neg-qtr-margin-top {
	margin-top: calc(var(--qtr-spacing) * -1);
}

.neg-half-margin-top {
	margin-top: calc(var(--half-spacing) * -1);
}

.neg-base-margin-top {
	margin-top: calc(var(--base-spacing) * -1);
}

.counter-clockwise {
	rotate: -90deg;
}

.nav-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-color);
	border-bottom: 1px solid var(--text-light);
	z-index: 999999;
}

.nav-fixed .nav-container {
	position: relative;
	max-width: var(--max-content-width);
	margin: auto;
}

.nav-container nav {
	position: relative;
	box-shadow: none;
	background-color: transparent;
}

.pull-to-refresh {
	height: 1rem;
}

.brand {
	font-size: 1.25rem;
}

.brand::first-letter {
	color: var(--text-link);
}

.content {
	position: relative;
	margin: 2.25rem auto 0 auto;
	max-width: var(--max-content-width);
}

.text-normal {
	font-size: var(--text-normal);
}

.text-small {
	font-size: var(--text-small);
}

.text-xsmall {
	font-size: var(--text-xsmall);
}

.text-xxsmall {
	font-size: var(--text-xxsmall);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-light, a.text-light {
	color: var(--text-light);
}

.octicon.text-light path {
	fill: var(--text-light);
}

.text-xlight, a.text-xlight {
	color: var(--text-xlight);
}

.octicon.text-xlight path {
	fill: var(--text-xlight);
}

.octicon.link path {
	fill: var(--text-link);
}

.custom-css-link {
	position: fixed;
	bottom: var(--half-spacing);
	left: var(--base-spacing);
	opacity: 0.3;
}

.user-image img {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 0.2rem;
}

.user-dropimage {
	width: 240px;
	height: 240px;
}

.post .user-image img, .sub .user-image img {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 0.2rem;
}

.post img.content-image {
	max-width: 100%;
	max-height: 40rem;
}

.post-actions {
	margin-top: var(--base-spacing);
	display: block;
	text-align: right;
}

.post-actions a, .post-actions label {
	margin-left: calc(var(--base-spacing) * 2);
}

.top-right-item {
	position: absolute;
	top: 0.5rem;
	right: 0.75rem;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.post-embed {
  overflow: hidden;
	position: relative;
	height: 12rem;
	border-radius: 0.2rem;
	border: 1px solid var(--text-xlight);
}

.spotify-embed, .soundcloud-embed {
	overflow: hidden;
	position: relative;
	height: 80px;
	border-radius: 0.2rem;
}

.soundcloud-embed {
	height: 115px;
}

.spotify-embed.large, .soundcloud-embed.large {
	height: 300px;
}

.codepen-embed {
	height: 400px;
}

.giphy-results-container, .codepen-embed {
	width: 100%;
	position: relative;
}

.giphy-logo {
	margin-top: var(--qtr-spacing);
}

.imgur-thumb {
	height: 6rem;
}
 
.video-container iframe, .post-embed iframe, .spotify-embed iframe, .soundcloud-embed iframe, .giphy-embed iframe, .giphy-results-container iframe, .codepen-embed iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.giphy-embed iframe, .giphy-results-container iframe {
	position: relative;
	width: 100%;
	height: 15rem;
}

.giphy-embed {
	width: 100%;
}

.create-post {
	position: relative;
}

.create-post-icons {
	position: absolute;
	right: var(--half-spacing);
	top: var(--half-spacing);
}

.create-post-icon img {
	width: 1.5rem;
	border-radius: var(--border-radius);
}

.modal article {
	width: var(--desktop-width);
	max-width: 90%;
}

.search-box label {
	flex: calc(100% - 5rem);
}

.search-box input {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.search-box button {
	height: 2.32rem;
	width: 0;
	border: 1px solid;
	border-color: var(--text-xlight) var(--text-xlight) var(--text-xlight) transparent;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	margin-left: -1px;
}

.search-box button svg {
	margin: 0.3rem 0.15rem 0 0;
}

.button.ghost {
	background-color: transparent;
	border: 1px solid var(--text-xxlight);
	color: var(--text-dark);
}

.button.ghost:hover {
	background-color: var(--text-xxlight);
}

.button-icon {
	height: 1rem;
}

.install-button {
	display: flex;
	justify-content: center;
	height: 4rem;
	overflow: hidden;
}

.install-button img {
	height: 6rem;
}

.mobile-menu {
	display: none;
}

.people-container img {
	opacity: 0.85;
	width: 100%;
	border-radius: var(--border-radius);
	box-shadow: 0 0 3px var(--text-light);
}

@media(max-width: 667px) {
	.hide-mobile {
		display: none;
	}

	.mobile-menu {
		position: absolute;
		top: 0.125rem;
		right: 3rem;
		display: block;
	}
	
	.text-small-mobile {
		font-size: var(--text-normal);
	}

	.post-actions {
		display: flex;
	}
	
	.post-actions a, .post-actions label {
		flex: 1;
		text-align: center;
		margin: 0;
	}
}

@media(min-width: 668px) {
	.show-mobile {
		display: none;
	}
}

@media(max-width: 799px) {
	textarea {
		min-height: 10rem;
	}

	.modal textarea {
		min-height: 15rem;
	}

	.custom-css-link {
		display: none;
	}

	.create-post-icon img {
		width: 2rem;
	}
}

@media(min-width: 1000px) {
	.nav-container nav {
		padding: 0;
	}
	
	.nav-container nav .brand {
		padding: 0;
	}
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.75rem;
}